# Charcoal

config/config.*.json
!config/config.default.json

# Package Managers

composer.phar
vendor/
node_modules/

# Documentation

documentation/
phpdoc/
docs/

# Logging

*.log
logs/

# Caches

mustache_cache/
tmp/
