# Charcoal

config/config.*.json
!config/config.default.json

# Package Managers

composer.phar
composer.lock
vendor/
node_modules/

# Documentation

documentation/
phpdoc/
docs/

# Logging

*.log
logs/

# Caches

build/docs/
build/logs/
mustache_cache/
tmp/
