{
    branches: [
        '+([0-9])?(.{+([0-9]),x}).x',
        'main',
        'next',
        'next-major',
        {name: 'beta', prerelease: true},
        {name: 'alpha', prerelease: true}
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        ["@semantic-release/exec", {
            "prepareCmd": "./build-monorepo.sh ${nextRelease.version}"
        }],
        "@semantic-release/release-notes-generator",
        ["@semantic-release/changelog", {
            "changelogFile": "CHANGELOG.md",
            "title": "# Changelog\nAll notable changes to this project will be documented in this file.\n\nThe format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),\nand this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html)."
        }],
        ["@semantic-release/git", {
            "assets": [
                "CHANGELOG.md",
                "composer.json",
                "packages/**/composer.json"
            ]
        }],
        "@semantic-release/github",
        ["semantic-release-github-pullrequest", {
            "assets": ["CHANGELOG.md"],
            "baseRef": "main"
        }]
    ],
    "preset": "angular"
}
