parameters:
	ignoreErrors:
		-
			message: '#^Instantiated class Goutte\\Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: packages/admin/src/Charcoal/Admin/Script/Tools/CheckLinksScript.php

		-
			message: '#^Instantiated class Goutte\\Client not found\.$#'
			identifier: class.notFound
			count: 1
			path: packages/admin/src/Charcoal/Admin/Script/Tools/StaticWebsite/CrawlScript.php

		-
			message: '#^Access to an undefined property class@anonymous/admin/tests/Charcoal/Admin/Ui/CollectionContainerTraitTest\.php\:22\:\:\$logger\.$#'
			identifier: property.notFound
			count: 1
			path: packages/admin/tests/Charcoal/Admin/Ui/CollectionContainerTraitTest.php

		-
			message: '#^Call to an undefined method class@anonymous/admin/tests/Charcoal/Admin/Ui/CollectionContainerTraitTest\.php\:22\:\:hasPermissions\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/admin/tests/Charcoal/Admin/Ui/CollectionContainerTraitTest.php

		-
			message: '#^Call to an undefined method class@anonymous/admin/tests/Charcoal/Admin/Ui/CollectionContainerTraitTest\.php\:22\:\:translator\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/admin/tests/Charcoal/Admin/Ui/CollectionContainerTraitTest.php

		-
			message: '#^Call to an undefined method Charcoal\\Tests\\App\\Script\\ArgScriptStub\:\:arguments\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/app/tests/Charcoal/App/Script/ArgScriptTraitTest.php

		-
			message: '#^Call to an undefined method Charcoal\\Tests\\App\\Script\\ArgScriptStub\:\:camelize\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/app/tests/Charcoal/App/Script/ArgScriptTraitTest.php

		-
			message: '#^Call to an undefined method Charcoal\\Tests\\App\\Script\\ArgScriptStub\:\:climate\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/app/tests/Charcoal/App/Script/ArgScriptTraitTest.php

		-
			message: '#^Call to an undefined method Charcoal\\Tests\\App\\Script\\ArgScriptStub\:\:input\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/app/tests/Charcoal/App/Script/ArgScriptTraitTest.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: packages/core/src/Charcoal/Source/Filter.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: packages/core/tests/Charcoal/Mock/OrderTree.php

		-
			message: '#^Access to an undefined property Charcoal\\Tests\\Object\\Mocks\\RoutableClass\:\:\$logger\.$#'
			identifier: property.notFound
			count: 1
			path: packages/object/tests/Charcoal/Object/Mocks/RoutableClass.php

		-
			message: '#^Call to an undefined method \$this\(Charcoal\\Tests\\Object\\Mocks\\RoutableClass\)&Charcoal\\View\\ViewableInterface\:\:viewController\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: packages/object/tests/Charcoal/Object/Mocks/RoutableClass.php

		-
			message: '#^Class Charcoal\\Property\\PropertyField does not have a constructor and must be instantiated without any parameters\.$#'
			identifier: new.noConstructor
			count: 1
			path: packages/property/tests/Charcoal/Property/PropertyFieldTest.php

		-
			message: '#^Cannot unset offset 0 on Charcoal\\Translator\\Translation\.$#'
			identifier: unset.offset
			count: 1
			path: packages/translator/tests/Charcoal/Translator/TranslationTest.php
