<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         failOnWarning="false"
         failOnPhpunitWarning="false"
         failOnNotice="false"
         failOnDeprecation="false">
 <testsuites>
    <testsuite name="Charcoal Test Suite">
      <directory>./tests/Charcoal</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APPLICATION_ENV" value="testing"/>
    <env name="TEST_MODE" value="PACKAGE"/>
  </php>
  <logging/>
</phpunit>
