{{!--
    Attachment Widget \ Collapsible Object
    ======================================

    @used-by `charcoal/admin/widget/attachment/object`
--}}
<header
    class="card-header{{^ attachmentOptions.show_header }} sr-only{{/ attachmentOptions.show_header }}"
    id="{{ widgetId }}_heading_{{ id }}"
    role="tab"
    {{^ attachmentOptions.read_only }}
    draggable="true"
    {{/ attachmentOptions.read_only }}>
    <h4 class="m-0">
        {{# attachmentType }}
            {{> charcoal/admin/widget/attachment/object/icon }}
        {{/ attachmentType }}
        <a
            role="button"
            href="#{{ widgetId }}_body_{{ id }}"
            class="text-dark {{# attachmentOptions.show_header }}collapsed{{/ attachmentOptions.show_header }}"
            data-toggle="collapse"
            data-parent="#{{ widgetId }}_accordion"
            aria-controls="{{ widgetId }}_body_{{ id }}"
            {{# attachmentOptions.show_header }}
            aria-expanded="false"
            {{/ attachmentOptions.show_header }}
            {{^ attachmentOptions.show_header }}
            aria-expanded="true"
            {{/ attachmentOptions.show_header }}>
                {{> charcoal/admin/widget/attachment/object/heading }}
        </a>
    </h4>
</header>
<section
    class="collapse{{^ attachmentOptions.show_header }} show{{/ attachmentOptions.show_header }}"
    id="{{ widgetId }}_body_{{ id }}"
    role="tabpanel"
    aria-labelledby="{{ widgetId }}_heading_{{ id }}">
    <div class="card-body">
        {{> $widget_template }}
    </div>
</section>
