{{!--
    Attachment Widget \ Object Icon
    ===============================

    @used-by `charcoal/admin/widget/attachment/object/collapsible`
    @used-by `charcoal/admin/widget/attachment/object/noncollapsible`
--}}
{{# attachmentOptions.show_icon }}
    {{# faIcon }}
        <i class="{{ . }} mr-3"></i>
    {{/ faIcon }}
{{/ attachmentOptions.show_icon }}
