{{!--
    Attachment Widget \ Object Icon
    ===============================

    @used-by `charcoal/admin/widget/attachment/object/collapsible`
    @used-by `charcoal/admin/widget/attachment/object/noncollapsible`
--}}
{{# attachmentOptions.show_icon }}
    <span class="{{ faIcon }} mr-3"></span>
{{/ attachmentOptions.show_icon }}
