
<div class="col-xs-8 col-md-8">

    <div class="col-xs-11 col-md-11">
        <a class="thumbnail js-attachment"
            href="object/edit?obj_type={{type}}&obj_id={{id}}"
            data-id="{{id}}"
            data-type="{{objType}}"
            data-image="{{baseUrl}}{{file}}"
            data-microtype="{{microType}}"
            target="_blank">

        <span class="glyphicon {{glyphicon}}"></span>

        {{#isVideo}}
            <div class="js-embed hidden">{{&embed}}</div>
        {{/isVideo}}

            {{title}}

        </a>
    </div>
    <div class="col-xs-1 col-md-1 js-attachment-actions">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <!--<li><a href="#" data-image="{{baseUrl}}{{file}}" data-type="{{type}}" data-microtype="{{microType}}" data-action="preview">Preview</a></li>
                <li><a href="#" data-type="{{type}}" data-id="{{id}}" data-action="edit">Edit</a></li>-->
                <li><a href="#" data-image="{{baseUrl}}{{file}}" data-type="{{type}}" data-id="{{id}}" data-action="delete">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
