{{!
	The object must be AttachableAware
	Use the "#obj" avialble from the dashboard / ObjectContainerTrait

	The OBJ has the `attachments` method (@see AttachableAwareTrait)
}}
<section class="row js-attachment-container js-attachment-sortable">
	<div class="js-grid-container clearfix" style="min-height:100px;">
	{{!#obj}}
		{{#attachments}}
			{{>charcoal/admin/partials/attachment-preview}}
		{{/attachments}}

        {{^hasAttachments}}
            <div class="alert alert-warning">
                Aucun item n'a été lié à ce contenu.
            </div>
        {{/hasAttachments}}
	{{!/obj}}
	</div>
</section>
