{{!--
    Attachment Widget \ JS Component
    ================================

    @used-by `charcoal/admin/widget/attachment`
--}}

{{# addJsRequirement }}
<script rel="l10n">
    {{> charcoal/admin/l10n/attachment.js }}
</script>
{{/ addJsRequirement }}

{{# addJs }}
<script>
// Prevent bootstrap dialog from blocking focusin
$(document).on('focusin', function(e) {
    if ($(e.target).closest('.mce-window').length) {
        e.stopImmediatePropagation();
    }
});
{{!
    @see Charcoal.Admin.Widget_Attachment
}}
Charcoal.Admin.manager().add_widget({
    id:   '{{ widgetId }}',
    type: 'charcoal/admin/widget/attachment',
    widget_type: '{{ type }}',
    data: {
        obj_type: '{{ objType }}',
        obj_id:   '{{ objId }}', // Can be a string
        group:    '{{ group }}'
    },
    widget_options: {{& widgetOptions }}
});
</script>
{{/ addJs }}
