{{!
    The object must be AttachableAware
    Use the "#obj" avialble from the dashboard / ObjectContainerTrait

    The OBJ has the `attachments` method (@see AttachableAwareTrait)
}}
<section class="c-attachments_container js-attachment-container{{^ readOnly }} js-attachment-sortable{{/ readOnly }}">
    <div role="tablist"
         id="{{ widgetId }}_accordion"
         class="panel-group js-grid-container{{^ showAttachmentHeading }} js-attachment-preview-only{{/ showAttachmentHeading }}"
         aria-multiselectable="false">
    {{# attachments }}
        {{> charcoal/admin/widget/attachment/object }}
    {{/ attachments }}
    {{^ hasAttachments }}
    {{> charcoal/admin/widget/attachment/empty }}
    {{/ hasAttachments }}
    </div>
</section>
