{{!--
    Attachment Widget \ Single Object
    =================================

    @used-by `charcoal/admin/widget/attachment/list`
--}}
<article
        class="panel {{# active }}panel-default{{/ active}}{{^ active }}panel-danger{{/ active}} js-attachment{{# showAttachmentPreview }} content-preview{{/ showAttachmentPreview}}"
        id="{{ widgetId }}_{{ id }}"
        data-id="{{ id }}"
        data-type="{{ objType }}"
        data-microtype="{{ microType }}"
    {{# attachmentGroup }} data-group="{{ . }}"{{/ attachmentGroup }}>
    {{# showAttachmentPreview }}
        {{> charcoal/admin/widget/attachment/object/collapsible }}
    {{/ showAttachmentPreview }}
    {{^ showAttachmentPreview }}
        <header{{^ readOnly }} draggable="true"{{/ readOnly }} id="{{ widgetId }}_heading_{{ id }}" class="panel-heading">
            <h4 class="panel-title">
                <span class="panel-title-icon glyphicon {{ glyphicon }}"></span>
                <a href="object/edit?obj_type={{ type }}&obj_id={{ id }}">{{& heading }}{{^ active }}&mdash; <span class="small">{{# _t }}Disabled{{/ _t }}</span>{{/ active }}</a>
            </h4>
        </header>
    {{/ showAttachmentPreview }}
    <aside class="panel-actions panel-actions-float btn-toolbar js-attachment-actions" role="toolbar">
        {{> charcoal/admin/widget/attachment/object/actions }}
    </aside>
</article>
