.tabulator.table-bordered {
    border-radius: 0.25rem;
    border: 0;
    -webkit-box-shadow: 0 0 0 1px #cccccc;
    box-shadow: 0 0 0 1px #cccccc;

    .tabulator-row,
    .tabulator-header,
    .tabulator-header .tabulator-col,
    .tabulator-row .tabulator-cell {
        border-color: #ccc;
    }

    .tabulator-header .tabulator-col {
        background: white;
    }

    .tabulator-row {
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    .tabulator-col,
    .tabulator-row.tabulator-row-even {
        height: auto;
        background-color: white;
    }

    .tabulator-header .tabulator-col .tabulator-col-content {
        padding: 0.75rem;
        color: black;
        font-size: 14px;
    }

    .tabulator-row .tabulator-cell {
        padding: 0.75rem;
        font-size: 16px;

        .fa {
            line-height: 26px;
        }

        &.tabulator-row-handle .tabulator-row-handle-box {
            max-width: 3px;
        }

        &.tabulator-validation-fail {
            outline: 16px solid #866609;
            background: #fff3cd;
            opacity: 0.65;
            outline-style: auto;
        }
    }


    .tabulator-row.tabulator-selectable:hover {
        background-color: #f0f0f0;
    }

    .tabulator-row,
    .tabulator-header  {
        .tabulator-frozen {
            &.tabulator-frozen-left {
                border-right-width: 1px;
            }

            &.tabulator-frozen-right {
                border-left-width: 0px;
            }
        }
    }

    .tabulator-tableholder .tabulator-placeholder {
        background-color: white;

        .tabulator-placeholder-contents {
            color: #666;
            font-size: 1.2em;
        }
    }
}

