{{!--
    Attachable Preview \ Embed
    ==========================
--}}
<figure class="embed-responsive embed-responsive-16by9">
    {{& embed }}
    {{! <iframe class="embed-responsive-item" src="..."></iframe> }}
</figure>
