<div id="{{widgetId}}">
    <section class="o-section">
        <header>

            {{#hasObj}}
            <div class="dropdown js-attachments-manager">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Ajouter
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu js-attachments-manager">
                    {{#attachmentTypes}}
                    <li>
                        <a href="{{baseUrl}}admin/object/edit?obj_type={{val}}" data-type="{{val}}" data-title="{{label}}" class="js-add-attachment" target="_blank">
                        <span class="glyphicon {{glyphicon}}"></span>
                            <span class="glyphicon-class">{{label}}</span>
                        </a>
                    </li>
                    {{/attachmentTypes}}
                </ul>
            </div>
            {{/hasObj}}

            {{^hasObj}}
            <div class="alert alert-warning">
                Vous devez sauvegarder votre page pour pouvoir ajouter ce type de contenu.
            </div>
            {{/hasObj}}


        </header>
    </section>

    {{#hasObj}}
    {{>charcoal/admin/partials/object-attachments}}

    <div class="js-attachment-template hidden">
        <a class="thumbnail js-attachment" href="#" data-id="{{id}}" data-type="{{objType}}">name</a>
    </div>
    {{/hasObj}}
</div>

{{#hasObj}}
<style>
/**
 * Sweet hack.
 * Allows the sortable to apply on video as well.
 */
.js-attachment iframe {
    pointer-events: none;
    max-width: 100%;
}
</style>

{{#addJs}}
<script>
// Prevent bootstrap dialog from blocking focusin
$(document).on('focusin', function(e) {
    if ($(e.target).closest(".mce-window").length) {
        e.stopImmediatePropagation();
    }
});
{{!
    @see Charcoal.Admin.Widget_Attachment
}}
Charcoal.Admin.manager().add_widget({
    id: '{{widgetId}}',
    type: 'charcoal/admin/widget/attachment',
    data: {
        obj_type: '{{objType}}',
        obj_id :  '{{objId}}', // Can be a string
        group  :  '{{group}}'
    },
    widget_options: {{&widgetOptions}}
});
</script>
{{/addJs}}

{{/hasObj}}
