<span class="js-attachment-actions">
<a class="list-group-item-icon -right " href="#" data-type="{{obj_type}}" data-group="{{attachmentGroup}}"
   data-attachment="{{obj_type}}" data-title="{{# _t }}Edit{{/ _t }}" data-id="{{ attachment_id }}"
   data-action="edit">
    <span class="glyphicon glyphicon-pencil"></span>
</a>
</span>
